<header class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src="../../assets/images/1280px-MarvelLogo.svg.png" class="img-fluid" alt="Marvel logo">
        <!--(Colocar despues en about)De The Walt Disney Company - Rian Hughes - Transferido desde &lt;span class=&quot;plainlinks&quot;&gt;&lt;a class=&quot;external text&quot; href=&quot;https://en.wikipedia.org&quot;&gt;en.wikipedia&lt;/a&gt;&lt;/span&gt; a Commons., Dominio público, <a href="https://commons.wikimedia.org/w/index.php?curid=6876234">Enlace</a>-->
        <h1 class="display-4">CHARACTER LIBRARY</h1>
        <p class="lead">Welcome!! In this page you will find an interactive library about Marvel Characters!</p>
    </div>
</header>