<div>
        <a class="btn btn-dark" routerLink='/character-catalog'>Catalog</a>

        <div class="form-group">
            <label for="character-name">Search Character</label>
            <input type="text" 
                id="character-name" 
                class="form-control" 
                placeholder="e.g. Spider-Man" 
                [formControl]="queryField"
                [ngbTypeahead]="search"                     
                [resultFormatter]="resultFormatBandListValue"
                [inputFormatter]="inputFormatBandListValue"
                #instance="ngbTypeahead"
                >
        </div>

        <div *ngIf="characterData">
            <button class="btn btn-primary" [routerLink]="['/character', characterData.id]">Search</button>
        </div>


</div>