<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let character of characters" (click)="onSelect(character)">
            <div class="card">
                <div *ngFor="let thumbs of character.thumbnails">
                    <img src="{{thumbs.path}}.{{thumbs.extension}}" class="card-img-top" alt={{character.name}}>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center">
                  <h5 class="card-text">{{ character.name | uppercase }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<app-hero-detail [character]="selectedCharacter"></app-hero-detail>
