<div class="container content">
    <div class="row">
        <div class="col-12">
            <ngb-pagination
            class="d-flex justify-content-center"
            (pageChange)="getCharactersByLetter($event)"
            [collectionSize]="collectionSize"
            [(page)]="page"
            [(maxSize)]="maxSize" 
            [rotate]="true" 
            [ellipses]="false"
            [boundaryLinks]="true"
            [(size)]="size">
            <ng-template ngbPaginationNumber let-p>{{ getPageSymbol(p) }}</ng-template>
            </ngb-pagination>
        </div>
    </div>



    <div class="row d-flex justify-content-center" *ngIf="characters"  [@visibility]="visibility" [@expand]>
        <div class="col-12 col-md-4 col-lg-3 card-container" *ngFor="let character of characters">
            <div class="card" [routerLink]="['/character', character.id]">
                <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" class="card-img-top" alt={{character.name}}>
                <div class="card-body d-flex justify-content-center align-items-center">
                  <h5 class="card-text">{{ character.name | uppercase }}</h5>
                </div>
            </div>
        </div>
    </div>

    <div [hidden]="characters || errMess">
        <div class="spinner-grow text-danger" role="status">
          <span class="sr-only"></span>
        </div>
        <h4>Loading . . . Please Wait</h4>
    </div>

    <div *ngIf="errMsg">
        <h2>Error</h2>
        <h4>{{errMsg}}</h4>
    </div>
</div> 
