/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$marvelColor: #F0131E;
$borderColor: rgb(107, 107, 107);
$textBackground: rgba(253, 253, 253, 0.931);

div.container {
    padding: 0;
}

header.jumbotron {
    background: $marvelColor;
    color: white;
}

body {
    background-image: url('../src/assets/images/pngguru.com.png');
}

.btn {
    cursor: pointer;
}

div.descriptionBox {
    background-color: $textBackground;
    border: 2px solid $borderColor;
}

div.Loading {
    width: 100%;
    min-height: 500px;
}

.hiddenFromPage {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }