.container {
    margin-top: 80px;
    margin-bottom: 20px;
    h1 {
        margin-bottom: 40px;
    }
}
div.row {
    max-width: 100%;
    margin: 0;
}
div.imageContent {
    padding: 0;
    max-width: 100%;
    img.img-fluid {
        max-width: 100%;
    }
}




