<div class="container">
    <h1>Marvel character Library</h1>

    <div class="row d-flex justify-content-center">
        <div class="imageContent col-12 col-md-6 d-flex justify-content-center" *ngIf="character1">
            <img class="img-fluid" src="{{character1.thumbnail.path}}.{{character1.thumbnail.extension}}" alt="{{character1.name}}">
            <h3>{{character1.name}}</h3>
        </div>
        <div [hidden]="character1 || errMess">
            <div class="spinner-grow text-danger" role="status">
              <span class="sr-only"></span>
            </div>
            <h4>Loading . . . Please Wait</h4>
        </div>
    
        <div *ngIf="character1 === undefined">
            <h2>Error</h2>
            <h4>{{errMsg}}</h4>
        </div>
        
        <div class="imageContent col-12 col-md-6 d-flex justify-content-center" *ngIf="character2">
            <img class="img-fluid" src="{{character2.thumbnail.path}}.{{character2.thumbnail.extension}}" alt="{{character2.name}}">
            <h3>{{character2.name}}</h3>
        </div>
        <div [hidden]="character2 || errMess">
            <div class="spinner-grow text-danger" role="status">
              <span class="sr-only"></span>
            </div>
            <h4>Loading . . . Please Wait</h4>
        </div>
    
        <div *ngIf="character2 === undefined">
            <h2>Error</h2>
            <h4>{{errMsg}}</h4>
        </div>
        
        <div class="imageContent col-12 col-md-6 d-flex justify-content-center" *ngIf="character3">
            <img class="img-fluid" src="{{character3.thumbnail.path}}.{{character3.thumbnail.extension}}" alt="{{character3.name}}">
            <h3>{{character3.name}}</h3>
        </div>
        <div [hidden]="character3 || errMess">
            <div class="spinner-grow text-danger" role="status">
              <span class="sr-only"></span>
            </div>
            <h4>Loading . . . Please Wait</h4>
        </div>
    
        <div *ngIf="character3 === undefined">
            <h2>Error</h2>
            <h4>{{errMsg}}</h4>
        </div>
        
        <div class="imageContent col-12 col-md-6 d-flex justify-content-center" *ngIf="character4">
            <img class="img-fluid" src="{{character4.thumbnail.path}}.{{character4.thumbnail.extension}}" alt="{{character4.name}}">
            <h3>{{character4.name}}</h3>
        </div>
        <div [hidden]="character4 || errMess">
            <div class="spinner-grow text-danger" role="status">
              <span class="sr-only"></span>
            </div>
            <h4>Loading . . . Please Wait</h4>
        </div>
    
        <div *ngIf="character4 === undefined">
            <h2>Error</h2>
            <h4>{{errMsg}}</h4>
        </div>
    

    </div>
    
</div>
